@model IEnumerable<MyStoreDbFirst.ViewModels.HangHoaTimKiem>
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm Kiếm</h1>
<form asp-action="XuLyTimKiem">
    Cần tìm: <input name="TuKhoa" />
    Giá từ: <input name="GiaTu" />
    đến: <input name="GiaDen" />
    <button>Tìm</button>
</form>

@if(Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã</th>
                <th>Tên hàng hóa</th>
                <th>Đơn giá</th>
                <th>Giảm giá</th>
                <th>Giá bán</th>
                <th>Ngày sản xuất</th>
                <th>Loại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hh in Model)
            {
                <tr>
                    <td>@hh.MaHh</td>
                    <td>@hh.TenHh</td>
                    <td>@hh.DonGia.ToString("#,##0") đ</td>
                    <td>@hh.GiamGia</td>
                    <td>@hh.GiaBan.ToString("#,##0") đ</td>
                    <td>@hh.NgaySanXuat.ToString("dd/MM/yyyy")</td>
                    <td>@hh.Loai</td>
                </tr>
            }
        </tbody>
    </table>
}